*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #ffffbf;
	}

.bg-lightblue{
	background: lightblue;
}

.bg-orange{
	background: #fc4a1a;
}

.noticias{
	border: 5px solid black;
	margin-top: 15px;
}

.asd{
	margin-bottom: 40px;
}

.txt-center{
	text-align: center;
}

.padding{
	padding: 10px;
}

.parrafoIndex{
	margin-top: 15px;
	margin-bottom: 10px;
}

.imgFooter{
	height: 50px;
	margin: 10px;
}

.txtFooter{
	font-size: 15px;
	color: black;
	margin: 10px;
}

.txtFooter1{
	margin-top:10px ;
	display: inline-block;
}

.footer{
	border-top: 5px solid black;
	margin-top: 10px;
}

.header{
	border-bottom: 5px solid black;
}

.txt-ansa{
	margin-left: 68px;
	color: black;
	text-decoration: none;
	border: 2px solid black;
}

.txt-ansa1{
	margin-left: 73px;
	color: black;
	text-decoration: none;
	border: 2px solid black;
}

.imgAnime{
	margin-top: 20px;
	margin-bottom: 20px;
}

.margin{
	margin-bottom: 10px;
}


.margin-top{
	margin-top: 10px;
}

.margin-top1{
	margin-top: 300px;
}

.margin-top2{
	margin-top: 410px;
}

.margin-bot{
	margin-bottom: 300px;
}

.margin-bot1{
	margin-bottom: 410px;
}

.txt-ansa2{
	margin-left: 80px;
	color: black;
	text-decoration: none;
	border: 2px solid black;
}

.txt-ansa3{
	margin-left: 115px;
	color: black;
	text-decoration: none;
	border: 2px solid black;
}
@media only screen and (min-width: 0px) and (max-width: 768px){
	.parrafoIndex{
		font-size: 15px;
	}

	.parrafoNoticias{
		font-size: 13px;
	}

	.titulo{
		font-size: 13px;!important
	}

	.margin-top1{
	margin-top: 10px;
}

.margin-top2{
	margin-top: 100px;
}

.margin-bot{
	margin-bottom: 10px;
}

.margin-bot1{
	margin-bottom: 100px;
}	
}

@media only screen and (min-width: 1024px){
	.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    justify-content: flex-end;
}

}
